/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

.md input.alert-input {
  border-radius: 28px;
}

.ios input.alert-input {
  border-radius: 28px;
}

button.alert-button.alert-button-blue {
  background-color: var(--ion-color-primary);
  margin-bottom: 1vh;
  margin-left: 1vh;
  margin-right: 1vh;
  font-weight: bold;
  color: var(--ion-color-black);
}

button.alert-button.alert-button-red {
  background-color: var(--ion-color-danger);
  margin-bottom: 1vh;
  margin-left: 1vh;
  margin-right: 1vh;
  font-weight: bold;
  color: var(--ion-color-black);
}

.md button.alert-button.alert-button-blue {
  border-radius: 28px;
}

.md button.alert-button.alert-button-red {
  border-radius: 28px;
}

.ios button.alert-button.alert-button-red {
  border-radius: 28px;
}

.ios button.alert-button.alert-button-blue {
  border-radius: 28px;
}

.alert-message.sc-ion-alert-md, .alert-message.sc-ion-alert-ios {
  font-size: 1rem;
  white-space: pre-line;
}

.alert-button-group{
  justify-content: center !important;
  padding: 8px !important;
  flex-wrap: wrap-reverse !important;
}

.alert-button {
  --color: var(--ion-color-primary) !important;
  --background: var(--ion-color-light) !important;
}

.alert-button.role-cancel {
  --color: var(--ion-color-medium) !important;
  --background: var(--ion-color-light) !important;
}

.alert-wrapper{
  background-color: rgb(43, 43, 94) !important;
  border-radius: 12px !important;
}

.alert-head{
  background-color: rgb(61, 61, 118) !important;
}

.sc-ion-alert-md-h {
  --min-height: 40vh;
  --min-width: 30vw;
  font-size: 2vh;
  min-height: auto;
  min-height: auto;
}

label.sc-ion-alert-md{
  --min-height: 40vh;
  --min-width: 30vw;
  min-height: auto;
  min-width: auto;
}

ion-searchbar {
  --background: #24204d !important; /* Colore di sfondo della barra di ricerca */
  --color: #cecece !important;      /* Colore del testo all'interno della barra di ricerca */
  --placeholder-color: #a2a2a2 !important; /* Colore del testo del placeholder */
  --icon-color: #d4cfcf !important; /* Colore dell'icona della lente d'ingrandimento */
}
