/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

.md input.alert-input {
  border-radius: 28px;
}

.ios input.alert-input {
  border-radius: 28px;
}

button.alert-button.alert-button-blue {
  background-color: var(--ion-color-primary);
  margin-bottom: 1vh;
  margin-left: 1vh;
  margin-right: 1vh;
  font-weight: bold;
  color: var(--ion-color-black);
}

button.alert-button.alert-button-red {
  background-color: var(--ion-color-danger);
  margin-bottom: 1vh;
  margin-left: 1vh;
  margin-right: 1vh;
  font-weight: bold;
  color: var(--ion-color-black);
}

.md button.alert-button.alert-button-blue {
  border-radius: 28px;
}

.md button.alert-button.alert-button-red {
  border-radius: 28px;
}

.ios button.alert-button.alert-button-red {
  border-radius: 28px;
}

.ios button.alert-button.alert-button-blue {
  border-radius: 28px;
}

.alert-message.sc-ion-alert-md, .alert-message.sc-ion-alert-ios {
  font-size: 1rem;
  white-space: pre-line;
  text-align: center !important;
}

.alert-button-group{
  justify-content: center !important;
  padding: 8px !important;
  flex-wrap: wrap-reverse !important;
}

.alert-button {
  --color: var(--ion-color-primary) !important;
  --background: var(--ion-color-light) !important;
}

.alert-button.role-cancel {
  --color: var(--ion-color-medium) !important;
  --background: var(--ion-color-light) !important;
}

.alert-wrapper{
  background-color: rgb(43, 43, 94) !important;
  border-radius: 12px !important;
}

.alert-head{
  background-color: rgb(61, 61, 118) !important;
  text-align: center !important;
}

.sc-ion-alert-md-h {
  font-size: 2vh;
  min-height: auto;
  min-height: auto;
}

label.sc-ion-alert-md{
  min-height: auto;
  min-width: auto;
}

ion-searchbar {
  --background: #24204d !important;
  --color: #cecece !important;
  --placeholder-color: #a2a2a2 !important;
  --icon-color: #d4cfcf !important;
  --border-radius: 20px !important;
}

.loading-wrapper {
  position: fixed;
  width: 100vw !important;
  height: 100vh !important;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.6)!important;
}

.custom-loading {
  --spinner-color: rgb(81, 38, 222);
  --background: rgba(4, 10, 62, 0.7);
  --message-font-size: 3rem;
  --message-color: rgb(35, 33, 33);

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.custom-loading .spinner-crescent {
  width: 5rem;
  height: 5rem;
  border-width: 10px;
}

.custom-loading {
  --spinner-color: rgb(81, 38, 222);
  --background: rgba(4, 10, 62, 0.7);
  --message-font-size: 3rem;
  --message-color: rgb(35, 33, 33);

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  z-index: 0;
}

.custom-loading .spinner-crescent {
  width: 5rem;
  height: 5rem;
  border-width: 10px;
  z-index: 0;
}

.ion-loading{
  --max-width: 100em;
  --max-heigh: 100em;
  z-index: 0;
}

ion-loading{
  --min-width: 300em !important;
  --width: 320em !important;
  --min-height: 100em !important;
  --height: auto !important;
  display: flex;
}

.loading-spinner.sc-ion-loading-md+.loading-content.sc-ion-loading-md {
  -webkit-margin-start: 16px;
  margin-inline-start: 16px;
  font-size: 30px;
  display: flex;
  z-index: 0;
}

.loading-wrapper.sc-ion-loading-md{
  z-index: 1;
}

.alert-radio-inner.sc-ion-alert-md {
  position: absolute;
  inset-inline-start: 3.2px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--ion-color-primary, #19273f);
}
