ion-content {
  --background: linear-gradient(to bottom, #050320, #2a415f);
  min-width: 100vh;
  min-height: 100vh;
}

.logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  margin-top: 2.3rem;
  margin-right: 2em;
}

.logo {
  width: 32rem;
  height: auto;
}

.subtitle {
  color: white;
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.custom-card {
  margin: 0 auto;
  max-width: 400px;
  padding: 20px;
  background-color: #2d4d7de9;
  border-radius: 15px;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-button {
  margin-top: 1rem;
  width: 80%;
}

.error-message {
  color: red;
  text-align: center;
  margin-top: 1rem;
}

ion-item {
  --background: transparent;
  --border-color: rgba(255, 255, 255, 0.3);
  width: 70%;
}

ion-label {
  color: rgba(255, 255, 255, 0.7);
}

ion-input {
  color: rgba(255, 255, 255, 0.9);
}

.password-item,
ion-item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  margin-bottom: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.glowing {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
  overflow: hidden;
}

.glowing span {
  position: absolute;
  width: 4px;
  height: 4px;
  background: rgba(0, 128, 255, 0.6);
  border-radius: 50%;
  box-shadow: 0 0 8px rgba(0, 128, 255, 0.3), 0 0 16px rgba(0, 128, 255, 0.15);

  /* Posizione iniziale casuale */
  top: calc(100vh * var(--y));
  left: calc(100vw * var(--x));

  /* Animazione */
  animation: moveRandom 12s ease-in-out infinite;
  animation-delay: calc(2s * var(--delay));
  animation-duration: calc(10s + var(--speed) * 5s);
  overflow: hidden;
}

@keyframes moveRandom {
  0% {
    transform: translate(0, 0) scale(1);
  }
  25% {
    transform: translate(calc(20vw - 10px), calc(-15vh + 10px)) scale(1.2);
  }
  50% {
    transform: translate(calc(-20vw + 10px), calc(25vh - 10px)) scale(1);
  }
  75% {
    transform: translate(calc(-15vw + 10px), calc(-20vh + 10px)) scale(1.3);
  }
  100% {
    transform: translate(calc(20vw - 10px), calc(20vh - 10px)) scale(1);
  }
}
