ion-content {
  --background: linear-gradient(to bottom, #050320, #2d507e);
}

.ion-padding {
  background-color: transparent !important;
}

.custom-card {
  border-radius: 15px;
  background-color: #3f66a17d;
  height: 45em;
}

.card-content {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top:5vh;
}

.header-row {
  font-weight: bold;
  --background: rgba(107, 107, 186, 0.297);
}

.header-label{
  padding-right: 4em;
  padding-left: 1em;
}

.ion-list{
  background-color: transparent !important;
}

.score-div{
  align-items: center;
  margin-top: 2em;
  margin-bottom: 4em;
  text-align: center;
  flex-direction: column;
  display: flex;
}

ion-progress-bar {
  margin-top: 1em;
  margin-left: 5em;
  margin-bottom: em;
  width: 50em;
  height: 2em;
  border-radius: 1em;
  --background: #e0e0e0;
  --progress-background: #465276;
  --buffer-background: rgba(255, 255, 255, 0.63); 
}
