ion-content {
  --background: linear-gradient(to bottom, #050320, #2d507e);
}

.custom-back-button {
  --color: #ffffff;
  --icon-size: 1vh;
  width: 1rem;
  height: 1rem;
}

.sortButton{
  width: 7vh;
  height: 1vh;
  margin-top: 0; /* Assicura che il pulsante non abbia margini superiori */
  padding: 0; /* Rimuove padding aggiuntivo se necessario */
  display: flex;
}

.flex-center {
  display: flex;
}

.ion-padding {
  background-color: transparent !important;
}

.custom-card {
  border-radius: 15px;
  background-color: #1e2e4527;
  height: 40em;
  max-height: 40rem;
}

.card-content {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top:2vh;
}

.header-row {
  font-weight: bold;
  --background: rgba(107, 107, 186, 0.297);
}

.header-label{
  padding-left: 0em;
}

.ion-list{
  background-color: transparent !important;
  min-width: 20vw;
  min-height: 20vh;
}

.ion-col {
  display: flex;
  align-items: center;
  justify-content: center;
  word-break: keep-all;
  white-space: normal;
  overflow-wrap: break-word;
}

.ion-list ion-row {
  display: flex;
  align-items: center;
  word-break: keep-all;
  white-space: normal;
}

.history-item ion-label,
.history-item ion-button,
.history-item a {
  text-align: center;
  background-color: transparent !important;
  width: 50%;
}


