ion-content {
  --background: linear-gradient(to bottom, #050320, #2d507e);
}

.ion-padding {
  background-color: transparent !important;
}

.custom-card {
  border-radius: 15px;
  background-color: #3f66a17d;
  height: 45em;
}

.card-content {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top:2vh;
}

.history-item {
  padding: 2px;
  background-color: transparent !important;
  --background: transparent;

}

.header-row {
  font-weight: bold;
  --background: rgba(107, 107, 186, 0.297);
}

.header-label{
  padding-right: 4em;
  padding-left: 1em;
}

.ion-list{
  background-color: transparent !important;
}

.ion-col {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.ion-list ion-item {
  display: flex;
  align-items: center;
}

.history-item ion-label,
.history-item ion-button,
.history-item a {
  text-align: center;
  background-color: transparent !important;
  width: 50%;
}


