<ion-content class="ion-padding" scrollY="false">

  <ion-title class="ion-text-center">
    WELCOME
  </ion-title>

  <h4 class="subtitle">
    Insert your file for the review
  </h4>

  <ion-card class="custom-card">
    <ion-card-content class="card-content">

      <!--Button for upload a file-->
      <ion-button  shape="round" class="newReview" *ngIf="!fileIsInsert">
        New review
        <input type="file" class="inputFile" (change)="handleFileInput($event)" accept=".txt, .csv">
      </ion-button>

      <!--File name if this is insert-->
      <h1 class="fileName" *ngIf="fileIsInsert">
        <ion-icon name="document-outline"></ion-icon> {{ fileName }}
      </h1>

      <p *ngIf="fileIsInsert" style="color: white; font-size: 2vh;" >Type of analysis: </p>

      <!--List of reviewModes for decide which type of analysis to do-->
      <ion-list class="checkboxList" *ngIf="fileIsInsert">
        <ion-select multiple="true" [(ngModel)]="reviewModes">
          <ion-select-option *ngFor="let mode of availableReviewModes" [value]="mode.value">{{ mode.label }}</ion-select-option>
        </ion-select>
      </ion-list>

      <!--Button to send the file and the type of analysis to backend-->
      <ion-button class="submit" (click)="presentAlert()" *ngIf="fileIsInsert" [disabled] = "!reviewModeSelected()" shape="round">
        Submit
      </ion-button>

      <!--Button to see the analysis history-->
      <ion-button *ngIf="!fileIsInsert" fill="outline" shape="round" class="view-history" (click)="navigateToHistory()">
        View history
      </ion-button>

    </ion-card-content>
  </ion-card>
</ion-content>
