<ion-content class="ion-padding" fullscreen="true" scrollY="true">

  <div class="background"></div>

  <div class="logo-container">
    <img src="assets/icon/Logo.png" alt="Logo" class="logo">
  </div>

  <h4 class="subtitle">
    Analyse your CSV file and calculate various available parameter scores
  </h4>

  <ion-card class="custom-card">
    <ion-card-content class="card-content">

      <!--Container for upload file-->
      <div class="upload-container" (drop)="onDrop($event)" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)" >
        <div *ngIf="isDragging" class="overlayUpload">
          <div class="icon-container" *ngIf="isDragging">
            <ion-icon name="cloud-upload" class="upload-icon"></ion-icon>
          </div>
        </div>
        <ion-icon name="document-outline" class="file-icon"></ion-icon>
        <ion-button class="upload-button" fill="clear" (click)="fileInput.click()"  *ngIf="!fileIsInsert">Choose File</ion-button>
        <input type="file" hidden (change)="handleFileInput($event)" #fileInput accept=".csv">

        <!--File name if this is insert-->
        <h2 class="fileName" *ngIf="fileIsInsert">
        {{ fileName }}
        </h2>
        <h2  *ngIf="!fileIsInsert">or drag and drop your file here</h2>
      </div>

      <!--Button to see the analysis history-->
      <ion-button *ngIf="!fileIsInsert" shape="round" class="view-history" (click)="navigateToHistory()">
        <p class="viewHistoryText">View History</p>
      </ion-button>

    </ion-card-content>
  </ion-card>

  <!--overlay for select columns-->
  <div class="overlay" *ngIf="fileIsInsert && showColumnSelection"></div>

  <!-- Cards for select Columns -->
  <div class="centered-card-container" *ngIf="fileIsInsert && columnNames.length > 0 && showColumnSelection">

    <div class="card-wrapper">

      <ion-icon name="close" class="close-icon" (click)="closeColumnsChoise()"></ion-icon>

    <ion-card class="select-card">
      <ion-card-header class="select-card-header">
        <ion-card-title>Reference Column</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-select [(ngModel)]="selectedReferenceColumn">
          <ion-select-option *ngFor="let column of columnNames" [value]="column">{{ column }}</ion-select-option>
        </ion-select>
      </ion-card-content>
    </ion-card>

    <ion-card class="select-card">
      <ion-card-header class="select-card-header">
        <ion-card-title>Target Column</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-select [(ngModel)]="selectedCandidateColumn">
          <ion-select-option *ngFor="let column of columnNames" [value]="column">{{ column }}</ion-select-option>
        </ion-select>
      </ion-card-content>
    </ion-card>
    </div>

    <!--Button to confirm selected columns-->
    <ion-button class="confirm-button" (click)="confirmButtonSelection()" shape="round" [disabled]="!activateSelectedColumnsButton()">Confirm Selection</ion-button>

  </div>

</ion-content>
